{% extends "movies/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block body_block %}
    <div style="margin-top:80px;margin-left:20px">


        {% if validlink %}

            <form method="post" action=".">
                {% csrf_token %}
            {{ form|crispy }}

                <input type="submit" value="{% trans 'Submit' %}"/>
            </form>

        {% else %}

            <p>{% trans "Password reset failed" %}</p>

        {% endif %}
        <a href="{% url "movies:index" %}">Home</a>

    </div>
{% endblock %}
