{% extends "movies/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block body_block %}
    <div style="margin-top:80px;margin-left:20px">
        <div class="page-header">
            <h2 style="color: steelblue">Reset your password</h2>
        </div>
        <div class="container">
            <form class="form-inline form-actions navbar-form navbar-left" method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}

                <input  class="btn btn-primary" type="submit" value="{% trans 'Submit' %}"/>
            </form>
            <a href="{% url "movies:index" %}">Home</a>
        </div>
    </div>
{% endblock %}
