{% extends 'movies/base.html' %}


{% block title %}{{ Movies }}{% endblock %}

{% block body_block %}
    <div style="margin-top:50px;margin-left:20px">
        {% if user.is_authenticated %}
            <strong>{{ boldmessage }}</strong><br/>

        {% else %}

            Welcome! <strong>{{ boldmessage }}</strong><br/>

        {% endif %}

        <ul><a href="/movies/searchMovies">Search movies</a></ul>

        {% if movies %}
            <ul>
                {% for movie in movies %}
                    <li><a href="/movies/movie/{{ movie.id }}">{{ movie.title }}  ({{ movie.year }})</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no movies present.</strong>
        {% endif %}
    </div>
{% endblock %}