{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{ Movie }}{% endblock %}


{% block body_block %}
    <div style="margin-top:50px;margin-left:20px">

        {% if not movie in movies %}
            <strong>{{ error }}</strong></br>
        {% else %}
            <h2>{{ movie.title }} ({{ movie.year }})</h2>
            <h4> Rating: {{ movie.current_rating }} / Votes: {{ movie.total_votes }}</h4>
            {% if user.is_authenticated %}

                {% include "movies/movies_rating.html" %}

                {% include "movies/movies_watchlist.html" %}

                {% include "movies/movies_tag.html" %}

                <div class="control-group">
                    <a href="{% url "movies:tags_movie_show" movie.id %}">Tags</a>
                </div>
            {% endif %}
        {% endif %}
        <a href="{% url "movies:index" %}">Home</a>
    </div>

{% endblock %}