{% extends 'movies/base.html' %}
{% load static %}


{% block title %}{{ watchlist }}{% endblock %}


{% block body_block %}
        <div style="margin-top:50px;margin-left:20px">

            <h4>{% include "movies/movie_link.html" %} Tags</h4>
            {% for tag in tags %}
                <form class="form-horizontal" method="post" action="{% url "movies:remove_tag_from_movie" movie.id tag.id %}">
                    {% csrf_token %}
                    <label class="control-label" for="input">{{ tag.name }}</label>
                    <div class="controls">
                        <input class="btn btn-small btn-link" type="submit" value="x"/>
                        <input class="btn btn-small btn-info" type="hidden" name="tag" value="{{ tag.id }}"/>
                    </div>
                </form>
            {% endfor %}

            <a href="{% url "movies:index" %}">Home</a>

        </div>

{% endblock %}