{% extends 'movies/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} the best movies for you {% endblock title %}

{% block body_block %}
    <div class="hero-unit">
        <h2 style="color: dodgerblue">Register with Movies Mari</h2><br />

        {% if registered %}
            Movies Mari says: <strong>Thank you for registering!</strong>
            <p><a href="{% url "movies:login" %}">Login</a> when you are ready to Movies Mari.</p>
        {% else %}
            <form class="form-inline modal-form" id="user_form" method="post" action="{% url "movies:register" %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="form-signin-heading">Sign up Here</h3>

                {{ user_form|crispy }}

                {{ profile_form|crispy }}

                <!-- Provide a button to click to submit the form. -->
                <input class="btn btn-primary" type="submit" name="submit" value="Register"/>

            </form>
        {% endif %}
    </div>
{% endblock %}

